@import "tailwindcss";

@theme {
  --color-primary: #5b21b6;
  --color-primary-light: #7c3aed;
  --color-accent: #06b6d4;
  --color-accent-light: #22d3ee;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}