@import "tailwindcss";

@theme {
  --color-primary: #1a237e;
  --color-primary-light: #3949ab;
  --color-accent: #7c4dff;
  --color-accent-light: #b388ff;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}